题目：要找出 bbe.txt 里面最高频的前 500个单词
(bbe.txt 里面，出现在 dict.txt 里面的最高频 500个单词)

//////////////////////////////////////////////////////////////////

bbe.txt <== 英文版本的圣经
dict.txt <== 里面有 68xxx 个单词

//////////////////////////////////////////////////////////////////

方法：
(1) 用 Boyer-Moore 写一个版本
(2) 用 Aho-Carosick 写一个版本
(3) 两个版本答案应该完全相同，然后比较两个版本的时间

//////////////////////////////////////////////////////////////////

里面第一个就是 a，但是不能说 Isaac <== 这样 a 就算出现了 2次
dict.txt 就是 pattern (每一行后面的数字不用理会), 每一行算一个, 重复的可以过滤掉
单词必须 exactly match
但是要用 Boyer-Moore 或是 Aho-Carosick 来做，不是用传统的方法，要花时间修正这两个算法

//////////////////////////////////////////////////////////////////

Question and Answers:
Q(1): We are students ==> Pattern是student和students，那就算两个都匹配上了，还是只匹配上students？ 
A: 只算 students

Q(2): your's gift, and others  ==> 算不算匹配your？算不算匹配了gift？ 
A: gift 算，your 不算

Q(3): 那 I am ... 算匹配了 i 了？ 因为That is .... 应该要算匹配上that？ 
A: 是的

//////////////////////////////////////////////////////////////////

PS: 严格按照 Defensive programming 的纪律